<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formulario" action="/users/profile" method="post">
				<label class="vacioForm" for="email">Email:</label>
				<input class="completarForm" type="text" id="email" name="email"><br>

				<label class="vacioForm" for="contraseña">Contraseña:</label>
				<input class="completarForm" type="password" id="contraseña" name="contraseña"><br>

				<label class="vacioForm" for="recordarme">Recordarme:</label>
				<input class="completarForm" type="checkbox" id="recordarme" name="recordarme"><br>
				
				<button class="boton" type="submit"> <a href='/user/profile'>Iniciar Sesión</a></button>
				
			</form> <!--no puedo hacer que se linkee en la pagina principal-->

		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>