<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header AGREGAR HEADER DESPUES -- HAY UN ERROR PERO HAY QUE SOLUCIOANRLO-->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formsConsigna" action="/products/agregarProducto" method="post">
				
				<div class="pregunta">
				<label class="vacioForm" for="imagen">Imagen:</label>
				<input class="completarForm" type="text" id="imagen" name="imagen"><br>
				</div>

				<div class="pregunta">
				<label class="vacioForm" for="producto">Nombre del producto:</label>
				<input class="completarForm" type="text" id="producto" name="producto"><br>
				</div>

				<div class="pregunta">
				<label class="vacioForm" for="descripcion">Descripcion:</label>
				<input class="completarForm" type="text" id="descripcion" name="descripcion"><br>
				</div>

				<div class="pregunta">
				<label class="vacioForm" for="fechaCarga">Fecha de carga:</label>
				<input class="completarForm" type="date" id="fechaCarga" name="fechaCarga"><br>
				</div>

				<button class="boton" type="submit"> <a href='/'>Guardar Producto</a></button>
			  </form>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>